html {
  min-width: 100vw;
}

.column {
  max-width: 95vw;
}

a:hover, span:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  div.hero-body.wholesale {
    padding: 0;
    padding-bottom: 2em;
  }
}

.hero.is-warning a.link {
  color: #3273dc;
}

.hero.is-warning {
  background-color: #e9f3d5;
}

@media screen and (max-width: 768px) {
  div.navbar-brand .navbar-item {
    margin: auto;
    top: 20px;
  }
  div.navbar-brand .navbar-item img {
    max-height: 3rem;
  }
}

#copyButton:hover {
  cursor: pointer;
}

.StripeElement {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  height: 40px;
  padding: 10px 12px;
  transition: box-shadow 150ms ease;
  -webkit-transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

@media screen and (max-width: 1216px), print {
  h1.landing, h2.landing {
    text-align: center;
  }
}

.dropdown-menu {
  min-width: 18rem;
}

article.media {
  background-color: #d9e9f380;
  padding: 1rem 1rem 0 1rem;
}

article.media:first-child {
  border-radius: 10px 10px 0 0;
}

article.media:last-child {
  border-radius: 0 0 10px 10px;
}

.media + .media {
  margin-top: 0;
}

article .image.is-128x128 {
  max-height: 112px;
}

.quantityInput {
  margin-top: 1rem;
}

div.hero-foot {
  margin-bottom: 1em;
}

div.hero-foot nav.tabs.is-toggle a {
  border-color: #363636;
  border-radius: 0;
}

div.hero-foot nav.tabs.is-toggle li:not(.is-active) a:hover {
  background-color: lavender;
}

div.hero-foot nav.tabs.is-toggle li.is-active a:hover {
  cursor: default;
}

div.hero-foot .tabs.is-toggle li:first-child a {
  border-radius: 0;
}

div.hero-foot .tabs.is-toggle li:last-child a {
  border-radius: 0;
}

ul li.is-active:hover {
  background-color: inherit;
}

section.hero#mainHeroBody {
  background: no-repeat center/100% url('./img/dm/3boxesLav.jpg');
  background-position-y: top 60%;
}

@media screen and (max-width: 600px) {
  section.hero#mainHeroBody {
    background: no-repeat center/100% url('./img/dm/3stack-narrow.jpg');
  }
}

span.rememberMe, #sameAddressCheckbox {
  margin-left: 5px;
  position: absolute;
  min-width: 200px;
  top: 5px;
  left: 20px;
}

section.section#about { background-color: none; }
div#aboutBanner { }
