a:hover, span:hover {
  text-decoration: none;
}

.hero.is-warning a.link {
  color: #3273dc;
}

#copyButton:hover {
  cursor: pointer;
}

.StripeElement {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  height: 40px;
  padding: 10px 12px;
  transition: box-shadow 150ms ease;
  -webkit-transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

@media screen and (max-width: 1216px), print {
  h1.landing, h2.landing {
    text-align: center;
  }
}

.dropdown-menu {
  min-width: 18rem;
}

article.media {
  background-color: whitesmoke;
  padding: 1rem 1rem 0 1rem;
}

article.media:first-child {
  border-radius: 10px 10px 0 0;
}

article.media:last-child {
  border-radius: 0 0 10px 10px;
}

.media + .media {
  margin-top: 0;
}

article .image.is-128x128 {
  max-height: 112px;
}

.quantityInput {
  margin-top: 1rem;
}

div.hero-foot nav.tabs.is-toggle a {
  border-color: #363636;
  border-radius: 0;
}
div.hero-foot .tabs.is-toggle li:first-child a {
  border-radius: 0;
}
div.hero-foot .tabs.is-toggle li:last-child a {
  border-radius: 0;
}
